.header {
  background-image: url(../../assets/beelden/header750.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 999;
  /* height: 95vh; */
  /* width: 100vw; */
}

.header__wrapper {
  text-align: left;
  color: white;
  margin-left: 10vw;
  padding-top: 60vh;
}

.header__title {
  font-family: var(--fontTitleLongread);
  font-size: 12rem;
  font-weight: var(--fontWeightRegularLakeshore);
}

.header__subtitle {
  font-family: var(--fontLongread);
  font-weight: var(--fontWeightLight);
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

.header__arrow {
  margin-top: var(--spacerSmall);
}

@media screen and (min-width: 475px) {

  .header {
    background-image: url(../../assets/beelden/header950.png);
    width: 100vw;
  }

  .header__wrapper {
    padding-top: 40vw;
  }

  .header__title {
    font-size: 16rem;
  }

  .header__subtitle {
    font-size: 2rem;
  }

  .header__arrow {
    margin-top: calc(var(--spacerMedium) * 5);
  }

}

@media screen and (min-width: 600px) {

  .header {
    background-image: url(../../assets/beelden/header1200.png);
  }

  .header__wrapper {
    padding-top: 20vw;
  }

  .header__title {
    font-size: 22rem;
  }

  .header__subtitle {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 750px) {

  .header {
    background-image: url(../../assets/beelden/header1500.png);
  }

  .header__wrapper {
    padding-top: 15vw;
  }
}

@media screen and (min-width: 900px) {

  .header {
    background-image: url(../../assets/beelden/header1668.png);
  }

  .header__wrapper {
    padding-top: 10vw;
  }

  .header__title {
    font-size: 26rem;
  }

  .header__subtitle {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1100px) {

  .header {
    background-image: url(../../assets/beelden/header2880.png);
    width: 100vw;
  }

  .header__wrapper {
    padding-top: 5vw;
  }

  .header__title {
    font-size: 30rem;
  }

  .header__subtitle {
    font-size: 3.5rem;
  }

  .header__arrow {
    margin-top: calc(var(--spacerMedium) * 6);
  }

}
