.content {
  background-color: black;
  color: white;
  font-family: var(--fontLongread);
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.header__wrapper {
  color: black;
}

.header__title {
  font-family: var(--fontTitleLongread);
  font-size: 12rem;
}

.header__subtitle {
  font-family: var(--fontLongread);
  font-weight: 300;
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
}

.quotes {
  margin: 0 2rem;
}

.quote {
  font-family: var(--fontTitleLongread);
  font-size: 13rem;
  line-height: 9.5rem;
  letter-spacing: .05rem;
  text-align: center;
}

.quote__one {
  margin: 5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* background-image: url(../../assets/beelden/texture-question.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 60vh; */
}

.quote__two {
  margin: 25rem 0;

  /* background-image: url(../../assets/beelden/texture-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh; */
}

/* ALGEMEEN */

.part {
  padding: 0 2rem;
}

.part__title {
  font-family: var(--fontTitleLongread);
  font-size: 6rem;
  line-height: 5rem;
  letter-spacing: .5rem;
  margin-bottom: 4rem;
  font-weight: 400;
}

.part__text {
  margin-bottom: 2rem;
}

.text__highlight {
  font-family: var(--fontTitleLongread);
  font-size: 2.6rem;
  line-height: 1.6rem;
  letter-spacing: .05rem;
}

/* INTRO */

.intro {
  display: grid;
}

.intro__img-wrapper {
  order: -1;
}

.intro__img {
  width: 90vw;
  margin: 0 auto;
}

/* CLOCK */

.clock {
  display: grid;
  margin-top: 12.5rem;
}

.clock__img-wrapper {
  order: -1;
}

.clock__img {
  width: 100%;
}

.clock__title {
  margin-top: -16rem;
}

/* MORALITY */

.morality-quote {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title__morality-quote {
  text-align: center;
  font-size: 8rem;
  line-height: 7.5rem;
  word-break: break-all;
  background: -webkit-linear-gradient(black, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 2rem;
}

.morality {
  padding-top: 7rem;
  padding-bottom: 10rem;
}

.morality-text__wrapper, .morality__title {
  padding: 0 2rem;
}

.morality__img {
  width: 100vw;
}

/* GOODBAD */

.goodbad {
  background-color: white;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20rem;
  padding-bottom: 10rem;

  /* &::before {
    content: '';
    position: absolute;
    background-image: url(../../assets/beelden/bg-paint-mobile.png);
    background-repeat: no-repeat;
    width: 80vw;
    height: 80vw;
    margin-top: -5rem;
  } */
}

.goodbad__title {
  margin-bottom: 8rem;
}

/* PRINCIPE */

.principes {
  background-color: white;
  color: black;
  padding-bottom: 12rem;
}

.principes__wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
}

.principe {
  display: grid;
  min-width: 25rem;
  margin: 8rem 4rem;
}

.principe__number {
  grid-row: 1;
  grid-column: 1;
  justify-self: left;

  font-family: var(--fontTitleLongread);
  color: gainsboro;
  font-size: 20rem;
}

.principe__title {
  grid-row: 1;
  grid-column: 1;

  font-family: var(--fontTitleLongread);
  font-size: 8rem;
  line-height: 5.5rem;
}

/* STRUGGLE */

.struggle {
  background-color: white;
  color: black;
  padding-bottom: 6rem;
}

/* SCRATCH */

.scratch {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.scratch__img {
  width: 60vw;
  z-index: 999;
  margin-top: 2rem;
}

#canvas {
  display: block;
  background-image: url(../../assets/beelden/kras-bottom.png);
  background-size: cover;
  max-width: 30rem;
  margin: 0 auto;
  height: auto;
  cursor: url(../../assets/beelden/cross-cursor.png) 20 20, crosshair;
}

/* AWARDS */

.awards {
  padding: 10rem 2rem;
}

.awards__wrapper {
  margin-top: 10rem;
}

.awards__wrapper p {
  margin-bottom: 8rem;
}

.award_07::before {
  content: '';
  position: absolute;
  background-image: url(../../assets/beelden/2007.png);
  background-repeat: no-repeat;
  width: 19rem;
  height: 6rem;
  margin-top: -2rem;
}

.award_08 {
  text-align: right;

  &::before {
    content: '';
    position: absolute;
    background-image: url(../../assets/beelden/2008.png);
    background-repeat: no-repeat;
    width: 19rem;
    height: 6rem;
    margin-top: -2rem;
    background-position: top right;
  }
}

.awards__subtitle {
  font-family: var(--fontTitleLongread);
  font-size: 4rem;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  font-weight: 500;
}

.awards__list {
  list-style: circle;
  margin-left: 3rem;
}

.award__item {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-bottom: 2rem;
}

.item__image::after {
  content: '';
  position: absolute;
  background-image: url(../../assets/beelden/2019.png);
  background-repeat: no-repeat;
  width: 30rem;
  height: 10rem;
}

.marker__img {
  width: 95vw;
  margin-top: 10rem;
}

.promo {
  margin-top: 6rem;
  padding-bottom: 2rem;
}

.promo__img-wrapper {
  margin-top: -4rem;
  margin-bottom: 3rem;
}

.button__img-wrapper {
  margin: 0 auto;
}

.promo__img {
  width: 95vw;
}

.footer__text {
  font-family: var(--fontTitleLongread);
  font-size: 2rem;
  padding-bottom: 5rem;
  text-align: right;
}

@media screen and (min-width: 1100px) {

  .header__image {
    width: 99vw;
  }

  .quote {
    font-size: 17rem;
    line-height: 12rem;
  }

  .quote__one {
    width: 40vw;
    margin-left: 50vw;
    background-position: right;
    height: 45rem;
  }

  .quote__one .quote {
    text-align: left;
  }

  .quote__two {
    margin: 0 auto;
    padding: 30rem 0;
    width: 40vw;
  }

  .part__title {
    font-size: 10rem;
    line-height: 8.5rem;
  }

  /* INTRO */

  .intro {
    grid-template-columns: 3fr 2fr;
    grid-gap: 7.5rem;
    grid-template-areas:
      'title text'
      'img text';
    margin: 0 14rem;
    margin-top: 20rem;
  }

  .intro__title {
    grid-area: title;
    text-align: right;
  }

  .intro-text__wrapper {
    grid-area: text;
  }

  .intro__img-wrapper {
    grid-area: img;
  }

  .intro__img {
    width: 45vw;
    margin-right: -10rem;
  }

  /* CLOCK */

  .clock {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;
    grid-template-areas: 'clock clock-text';
    margin-right: 14rem;
    margin-top: 20rem;
  }

  .clock__wrapper {
    grid-area: clock-text;
  }

  .clock__title {
    margin-top: 0;
    margin-bottom: 7rem;
  }

  .clock-text__wrapper {
    font-size: 2.6rem;
    line-height: 3.4rem;
    width: 45vw;
    padding-left: 5rem;
  }

  .clock-text__wrapper .text__highlight {
    font-size: 3.6rem;
  }

  .clock__img {
    grid-area: clock;
    width: 35vw;
    grid-row: span 2;
  }

  /* MORALITY QUOTE */

  .morality-quote {
    width: 60vw;
    padding-bottom: 15rem;
    margin: 0 auto;
  }

  .title__morality-quote {
    font-size: 15rem;
    line-height: 12rem;
    word-break: normal;
  }

  /* VERICAL SCROLL */

  .scroll__wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    background-color: white;
  }

  /* MORALITY */

  .morality {
    background-color: black;
    width: 100vw;
    padding: 5rem 0;
    display: grid;
    grid-template-columns: 50vw 42vw;
    grid-gap: 7.5rem;
    grid-template-areas:
      'title-morality text-morality'
      'img-morality text-morality';
  }

  .morality__title {
    grid-area: title-morality;
    text-align: right;
  }

  .morality-text__wrapper {
    grid-area: text-morality;
    padding-right: 14rem;
  }

  .morality__img-wrapper {
    margin-top: -10rem;
  }

  .morality__img {
    width: 50vw;
  }

  /* GOODBAD */

  .goodbad {
    width: 90vw;
    min-width: 90rem;
    margin: 10rem 20rem;
    margin-bottom: 0;
    padding: 0;

  }

  .goodbad__title {
    font-size: 12rem;
  }

  .goodbad .part__text {
    font-size: 1.8rem;
    width: 40vw;
  }

  /* PRINCIPE */

  .principes {
    padding-bottom: 0;
  }

  .principes__wrapper {
    /* height: 95vh; */
    height: 70rem;
    display: grid;
    grid-column-gap: 20rem;
    grid-template-columns: repeat(6, 1fr);
    margin-right: 8rem;
    padding-top: 5rem;
    overflow: initial;
  }

  .principe {
    width: 100%;
    margin: 0;
  }

  .principe__title {
    font-size: 12rem;
    line-height: 8rem;
  }

  .principe__number {
    font-size: 40rem;
  }

  .principe--one {
    align-self: center;
  }

  .principe--three {
    align-self: end;
    padding-bottom: 5%;
  }

  .principe--four {
    align-self: top;
    padding-top: 30%;
  }

  .principe--five {
    align-self: end;
    padding-bottom: 30%;
  }

  /* STRUGGLE */

  .struggle {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 44rem;
    padding-bottom: 5rem;
  }

  .struggle__title {
    font-family: var(--fontTitleLongread);
    font-size: 6rem;
    line-height: 2.5rem;
    margin-bottom: 6rem;
    font-weight: 500;
  }

  /* SCRATCH */

  .scratch {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    margin-right: 15rem;
    padding-right: 30rem;
  }

  .scratch__img {
    width: 20vw;
    margin-right: -6rem;
    z-index: 999;
    margin-top: 2rem;
  }

  #canvas {
    display: block;
    background-image: url(../../assets/beelden/kras-bottom.png);
    background-size: cover;
    max-width: 56rem;
    margin-top: 6rem;
    height: auto;
    cursor: url(../../assets/beelden/cross-cursor.png) 20 20, crosshair;
  }

  /* AWARDS */

  .awards {
    padding: 20rem 14rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7.5rem;
    grid-template-areas:
      'title-awards text-awards'
      'img-awards text-awards';
  }

  .awards__title {
    grid-area: title-awards;
  }

  .awards__wrapper {
    grid-area: text-awards;
  }

  .awards__text-wrapper {
    grid-area: text-awards;
  }

  .marker__img {
    grid-area: img-awards;
    width: 30vw;
    margin-top: 0;
  }

  /* PROMO */

  .promo {
    padding: 10rem 14rem;
    display: grid;
    grid-template-columns: 4fr 5fr;
    grid-gap: 5rem;
    grid-template-areas: 'promo-img promo-text';
  }

  .promo__wrapper {
    grid-area: promo-text;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .promo__title {
    margin-bottom: 8rem;
  }

  .promo__img-wrapper {
    grid-area: promo-img;
  }

  .promo__img {
    width: 35vw;
  }

  .button_img {
    width: 15vw;
  }
}
