.intro {
  display: grid;
}

.intro__img-wrapper {
  order: -1;
}

.intro__img {
  width: 90vw;
  margin: 0 auto;
}

.clock {
  display: grid;
  margin-top: calc(var(--spacerMedium) * 4);
}

.clock__img-wrapper {
  order: -1;
}

.clock__img {
  width: 100%;
}

.clock__title {
  margin-top: -12rem;
  max-width: calc(var(--spacerBig) * 6);
}

.button__intro {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 450px) {

  .clock__title {
    margin-top: -6rem;
    max-width: calc(var(--spacerBig) * 10);
  }

  .button__intro {
    width: 100%;
  }
}

@media screen and (min-width: 550px) {

  .intro__title, .intro-text__wrapper {
    width: 80vw;
    margin: 0 auto;
  }

}

@media screen and (min-width: 740px) {

  .intro {
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 4rem;
    grid-template-areas:
      'title text'
      'img text';
    margin: 0 calc(var(--spacerSmall) * 2);
    margin-top: calc(var(--spacerBig) * 2);
  }

  .intro__title {
    grid-area: title;
    text-align: right;
    min-width: 100%;
  }

  .intro-text__wrapper {
    width: 100%;
    grid-area: text;
  }

  .intro__img-wrapper {
    grid-area: img;
  }

  .intro__img {
    width: 40vw;
    margin-right: 0;
  }

  .button__intro {
    width: 100%;
  }

  .clock {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    grid-template-areas: 'clock clock-text';
    margin-right: calc(var(--spacerSmall) * 2);
    margin-top: calc(var(--spacerBig) * 4);
  }

  .clock__wrapper {
    grid-area: clock-text;
  }

  .clock__title {
    margin-top: 0;
    max-width: 100%;
    margin-bottom: var(--spacerBig);
  }

  .clock__img {
    grid-area: clock;
    grid-row: span 2;
  }
}

@media screen and (min-width: 950px) {

  .clock__img {
    width: 40vw;
  }
}

@media screen and (min-width: 1100px) {

  .intro {
    grid-template-columns: 3fr 2fr;
    grid-column-gap: 7.5rem;
    grid-row-gap: 3rem;
    margin: 0 calc(var(--spacerSmall) * 4);
    margin-top: calc(var(--spacerBig) * 4);
  }

  .intro__img {
    width: 45vw;
  }

  .clock {
    grid-template-columns: 1fr 2fr;
    margin-right: calc(var(--spacerSmall) * 4);
    margin-top: calc(var(--spacerBig) * 6);
  }

  .clock__title {
    margin-bottom: calc(var(--spacerMedium) * 2);
    margin-top: 10rem;
  }

  .clock-text__wrapper {
    font-size: 2.6rem;
    line-height: 3.4rem;
    width: 45vw;
    padding-left: 5rem;
  }

  .clock-text__wrapper .text__highlight {
    font-size: 3.6rem;
  }

  .clock__img {
    width: 35vw;
  }
}

@media screen and (min-width: 1300px) {

  .intro {
    margin: 0 14rem;
  }
}
