.progress__container {
  width: 12rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 800;
}

.processbar--wrapper {
  display: grid;
  grid-column-gap: .5rem;
  grid-template-rows: auto 1fr auto 1fr auto 1fr auto 1fr auto 1fr auto 1fr auto;
  justify-items: center;
  align-items: center;
  margin-top: 7vw;
  height: 60rem;
}

.process-circle {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: white;
}

.process-line {
  height: 100%;
  border-right: .2rem dotted white;
}

.current {
  width: 1.5rem;
  height: 1.5rem;

  &::before {
    content: '';
    position: absolute;
    background-image: url(../../assets/img/circle-outline.svg);
    background-repeat: no-repeat;
    width: 2.5rem;
    height: 2.5rem;
    background-size: contain;
    top: -.5rem;
    left: -.5rem;
  }
}

@media screen and (max-width: 800px) {

  .progress__container {
    display: none;
  }
}
