.cart__table {
  width: 90vw;
}

.table__head {
  display: none;
}

.item {
  display: grid;
  grid-template-columns: 4fr 2fr 2fr 2fr;
  grid-gap: 2rem;
  grid-template-areas:
    'image info info info'
    'image quantity total remove';
  border-bottom: .1rem dashed black;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.item:last-child {
  border-bottom: none;
}

.item__image {
  grid-area: image;
  display: flex;
  justify-content: center;
}

.item__image img {
  width: 7rem;
}

.item__info {
  grid-area: info;
}

.item__info p {
  margin: 0;
  line-height: 1.4;
}

.item__title {
  font-weight: 700;
}

.item__subtitle {
  color: var(--gray3Color);
}

.item__option {
  color: white;
  background-color: var(--redColor);
  padding: .5rem 1rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: var(--fontWeightBold);
  border-radius: 4px;
  display: inline-block;
}

.price {
  grid-area: price;
  display: none;
}

.quantity {
  grid-area: quantity;
  width: var(--spacerSmall);
}

.total {
  grid-area: total;
  display: flex;
  flex-direction: row;
  font-weight: var(--fontWeightBold);
  color: var(--redColor);
}

/* OVERVIEW */

.overview {
  border-top: .1rem dashed black;
  margin-top: var(--spacerMedium);
}

.overview__wrapper {
  border-bottom: .1rem dashed black;
  padding-bottom: calc(var(--spacerBig) / 2);
}

.overview__wrapper div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.8rem;
}

.overview__title {
  font-size: 2.4rem;
  font-family: Swiss, sans-serif;
  font-weight: var(--fontWeightBold);
  margin-bottom: calc(var(--spacerMedium) / 2);
  margin-top: var(--spacerSmall);
}

.overview__subtotaal {
  font-weight: var(--fontWeightBold);
}

.overview__promocode {
  margin-top: calc(var(--spacerMedium) / 2);
}

.overview__promocode .form__label {
  color: var(--redColor);
  margin-bottom: 0;
  width: 100%;
  margin-right: var(--spacerSmall);
}

.btn__promocode {
  background-color: transparent;
  border: .1rem solid #e0e0e0;
  color: var(--gray3Color);
  font-size: 1.2rem;
  padding: 0 2rem;
  border-radius: var(--borderRadius);
  height: 4rem;
  align-items: baseline;
}

.checkout {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.total__text {
  font-size: 1.4rem;
  line-height: 1;
}

.total__price {
  font-size: 3.6rem;
  color: var(--redColor);
  font-weight: var(--fontWeightBold);
  line-height: 1.2;
}

/* REMOVE */

.item__remove {
  grid-area: remove;
  justify-self: end;
}

.btn__remove {
  background-color: transparent;
}

/* EMPTY STATE */

.cart__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: calc(var(--spacerBig) * 3);
}

.cart__empty-text {
  font-size: 2.4rem;
  font-family: var(--fontTitle);
  text-align: center;
  line-height: 1.2;
}

.btn__empty {
  margin-top: var(--spacerMedium);
}

.oldprice {
  font-weight: var(--fontWeightRegular);
  color: black;
  padding-right: 1.5rem;
}

.promo__popup {
  text-transform: uppercase;
  font-weight: var(--fontWeightBold);
  font-size: 1.2rem;
  margin-top: 1rem;
}

@media screen and (min-width: 500px) {

  .item {
    grid-template-columns: 2fr 2fr 2fr 2fr;
  }
}

@media screen and (min-width: 650px) {

  .item {
    grid-template-columns: 3fr 6fr 3fr 3fr 3fr 1fr;
    grid-template-areas: 'image info price quantity total remove';
  }
}

@media screen and (min-width: 850px) {

  .cart__table {
    width: auto;
  }

  .cart__form {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-gap: 4rem;
  }

  .table__head tr {
    font-family: var(--fontTitle);
    display: grid;
    grid-template-columns: 3fr 6fr 3fr 3fr 3fr 1fr;
    margin-bottom: var(--spacerMedium);
    justify-items: start;
  }

  .talbe__wrapper {
    display: inline-block;
    padding-right: calc(var(--spacerSmall) * 2);
    border-right: .1rem dashed black;
  }

  .item {
    grid-template-columns: 3fr 6fr 3fr 3fr 3fr 1fr;
    grid-gap: 2rem;
    grid-template-areas: 'image info price quantity total remove';
    padding-bottom: var(--spacerSmall);
    margin-bottom: var(--spacerSmall);
    align-items: center;
  }

  .price {
    display: flex;
    flex-direction: column;
  }

  .total {
    flex-direction: column;
  }

  .table__head {
    display: inline;
  }

  .overview {
    border-top: none;
    margin-top: 0;
  }

  .overview__wrapper {
    margin-bottom: 2.5rem;
    font-size: 1.4rem;
  }

  .overview__wrapper div {
    margin-top: 1.5rem;
  }

  .overview__title {
    margin-bottom: 3.5rem;
    margin-top: 0;
  }

  .overview--minitext {
    color: var(--gray3Color);
  }

  .checkout {
    margin-top: 1.5rem;
  }

  .cart__empty-text {
    font-size: 3.4rem;
    line-height: 1.5;
  }
}
