.checkout__form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4rem;
}

.checkout__gegevens {
  order: 1;
}

.checkout__title {
  color: var(--redColor);
  font-weight: var(--fontWeightBold);
  font-family: var(--fontTitle);
  font-size: 2.4rem;
  padding-bottom: var(--spacerMedium);
}

.form__label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: var(--fontWeightBold);
  margin-bottom: calc(var(--spacerBig) / 2);
}

.form__label input {
  padding: 1rem;
  outline: none;
  border: .1rem solid #e0e0e0;

  &:focus {
    border: .1rem solid var(--redColor);
  }
}

.checkout__adres {
  margin-top: var(--spacerMedium);
}

.wrapper__orderoverview {
  display: grid;
  grid-template-columns: 2fr 4fr 1fr 1fr;
  align-items: center;
  margin-bottom: var(--spacerSmall);
}

.orderoverview__img {
  width: 5rem;
}

.checkout__subtotaal {
  display: flex;
  justify-content: space-between;
  border-top: .1rem dashed black;
  font-weight: var(--fontWeightBold);
  padding-top: var(--spacerSmall);
}

.order__pay {
  order: 2;
  border-top: .1rem dashed black;
  padding-top: var(--spacerMedium);
}

.form__text {
  font-size: 1.2rem;
}

.form__text input {
  margin-right: .5rem;
}

.checkout__title--extra {
  display: none;
}

.btn__uitchecken {
  height: 6rem;
}

.back__checkout {
  margin-top: var(--spacerSmall);
  display: inline-block;
}

@media screen and (min-width: 700px) {

  .checkout__form {
    grid-template-columns: 3fr 2fr;
    grid-gap: 2rem;
    grid-template-areas:
      'order overview'
      'order pay';
  }

  .checkout__gegevens {
    display: inline-block;
    padding-right: var(--spacerSmall);
    border-right: .1rem dashed black;
    order: 0;
    grid-area: order;
  }

  .form--line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  .wrapper__orderoverview {
    grid-area: overview;
  }

  .order__pay {
    grid-area: pay;
  }

  .checkout__title--extra {
    font-size: 1.4rem;
    font-family: var(--font);
    font-weight: var(--fontWeightRegular);
    color: black;
    display: inline-block;
  }
}

@media screen and (min-width: 900px) {

  .checkout__form {
    grid-template-columns: 2fr 1fr;
    grid-gap: calc(var(--spacerSmall) * 2);
    grid-row-gap: 0;
  }

  .checkout__gegevens {
    padding-right: calc(var(--spacerSmall) * 2);
  }

  .checkout {
    margin-top: 0;
  }

}
