.confirmed {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn__confirmation {
  margin-top: var(--spacerMedium);
}

.confirmed__img {
  width: 40vw;
  margin-bottom: var(--spacerMedium);
}

@media screen and (min-width: 700px) {

  .confirmed__img {
    width: 25vw;
  }

}

@media screen and (min-width: 900px) {

  .confirmed__img {
    width: 15vw;
  }

}
