.hamburger-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f8f4;
  padding: 0 2rem;
  margin-top: -2rem;
}

.nav__burger {
  height: 3rem;
}

.nav__logo {
  height: 5rem;
}

.nav__cart--link {
  font-size: 2.6rem;
  display: flex;
  align-items: center;
}

.nav__cart {
  height: 3rem;
  padding-left: .5rem;
}

.primary-nav, .secondary-nav {
  display: none;
}

.cart-icon {
  padding-left: 3rem;
}

@media screen and (min-width: 940px) {

  .hamburger-nav {
    display: none;
  }

  .primary-nav, .secondary-nav {
    display: inline;
  }

}
