.method__title {
  margin-bottom: var(--spacerSmall);
}

.payment__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
}

.payment__border {
  box-shadow: 0 .2rem 1rem #e5e5e5;
  border-radius: .7rem;
  padding: var(--spacerSmall);
  height: 12.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment__input:checked ~ .payment__border {
  border: .1rem solid var(--redColor);
}

.payment__input {
  display: none;
}

.payment__img {
  width: calc(var(--spacerBig) * 2);
}

.button__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.btn__payment {
  margin-top: var(--spacerMedium);
}

.btn__payment--text {
  font-size: 1.2rem;
}

@media screen and (min-width: 700px) {

  .method {
    max-width: 50rem;
    margin: 0 auto;
  }

}
