.color--red {
  color: var(--redColor);
}

/* Filter */

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.filter__input {
  display: none;
}

.filter__text {
  text-transform: capitalize;
  padding: 0 2rem;
}

label:not(:last-of-type) .filter__text {
  border-right: .1rem solid var(--blackColor);
}

.filter__input:checked ~ .filter__text {
  color: var(--redColor);
  font-weight: 700;
}

/* Highlights */

.highlights {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5rem;
  margin-top: 6rem;
}

.highlight {
  display: flex;
  justify-content: space-between;
  height: 20rem;
  padding: 0 3rem;
}

.highlight__book {
  background-color: var(--yellowColor);
}

.highlight__abbo {
  background-color: var(--gray6Color);
}

.highlight__title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.1;
  margin-top: 2.2rem;
  max-width: 24rem;
}

.highlight__subtitle {
  font-size: 1.6rem;
  line-height: 1.2;
  margin-top: 1rem;
}

.highlight__btn {
  padding: 1rem 1.5rem;
  border-radius: 2px;
  display: inline-block;
  padding-right: 4rem;
  font-size: 1.2rem;
  margin-top: 2rem;

  &::after {
    content: '';
    position: absolute;
    background-image: url(../../assets/img/arrow-white.svg);
    height: 2rem;
    width: 2rem;
    background-repeat: no-repeat;
    transform: translate(.6rem, .2rem);
  }
}

.highlight__img {
  width: 15.5rem;
  margin-top: -2rem;
  margin-bottom: -2rem;
}

.highlight__img-abbo {
  margin: 0;
}

/* Products */

.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5rem;
  margin-top: 6rem;
}

.product {
  display: grid;
  grid-template-rows: 5fr 2fr;
  justify-content: center;
}

.product__info {
  order: 2;
  display: flex;
  flex-direction: column;
}

.product__head {
  flex: 1;
}

.product__title {
  font-size: 1.6rem;
}

.product__subtitle {
  font-size: 1.4rem;
  color: var(--gray3Color);
  margin: 0;
  margin-bottom: 1rem;
}

.product__link {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.product__img {
  width: 70%;
}

.product__buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__price {
  font-size: 1.6rem;
  color: var(--gray2Color);
  margin: 0;
  font-weight: 700;
}

.product__btn {
  background-color: var(--redColor);
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--whiteColor);
  padding: .5rem 1rem;
}

@media screen and (max-width: 915px) {

  .highlight__title {
    font-size: 2rem;
  }

  .highlight__subtitle {
    font-size: 1.2rem;
  }

}

@media screen and (max-width: 800px) {

  .highlight__title {
    font-size: 2.5rem;
  }

  .highlight__subtitle {
    font-size: 2rem;
  }

  .products {
    grid-template-columns: repeat(3, 1fr);
  }

  .highlights {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {

  .highlight {
    height: 16rem;
    padding: 0 1.5rem;
  }

  .highlight__title {
    font-size: 2rem;
    margin-top: 1.5rem;
    max-width: 20rem;
  }

  .highlight__subtitle {
    font-size: 1.2rem;
  }

  .highlight__img {
    width: 11rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
  }

  .highlight__btn {
    padding: .8rem 1.2rem;
    padding-right: 4rem;
    font-size: 1.2rem;
    margin-top: 1rem;
  }

  .products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 400px) {

  .product {
    grid-template-rows: 3fr 2fr;
  }
}
