:root {
  /* colors */
  --blackColor: black;
  --whiteColor: white;
  --redColor: #ec121e;
  --yellowColor: #f8dc31;
  --gray2Color: #4f4f4f;
  --gray3Color: #828282;
  --gray6Color: #f2f2f2;
  /* margins */
  --spacerSmall: 2rem;
  --spacerMedium: 3rem;
  --spacerBig: 5rem;
  /* borders */
  --borderRadius: .2rem;

  /* font */
  --font: news-gothic-std, sans-serif;
  --fontTitle: swiss, sans-serif;
  --fontLongread: raleway, sans-serif;
  --fontTitleLongread: lakeshore, sans-serif;
  /* fontweight */
  --fontWeightLight: 300;
  --fontWeightRegular: 400;
  --fontWeightRegularLakeshore: 500;
  --fontWeightBold: 700;
}
