:root {
  /* colors */
  --blackColor: black;
  --whiteColor: white;
  --redColor: #ec121e;
  --yellowColor: #f8dc31;
  --gray2Color: #4f4f4f;
  --gray3Color: #828282;
  /* margins */
  --smallMargin: 3rem;
  --mediumMargin: 4rem;
  /* borders */
  --borderRadius: .7rem;
  --layoutBorderRadius: 3rem;
  /* font */
  --font: 'Open Sans', sans-serif;
  --fontWeightLight: 300;
  --fontWeightRegular: 400;
  --fontWeightSemiBold: 600;
  --fontWeightBold: 700;
}
