/* @import './css/reset.css'; */
@import './css/humo.css';
@import './css/reset.css';
@import './css/vars.css';
@import './css/typography.css';
@import './css/components/navigation.css';
@import './css/components/product.css';
@import './css/components/detail.css';
@import './css/components/cart.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

/* stylelint-disable*/
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable*/

body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: var(--font);
  height: 100%;
}

.hidden {
  display: none;
}

.title {
  font-family: Swiss, sans-serif;
  margin-top: 6rem;
  font-size: 4.8rem;
}

.btn {
  border-radius: 2px;
  background-color: var(--redColor);
  color: white;
  padding: 1rem 2rem;
}

.bold {
  font-weight: 700;
}

a:hover {
  border: none;
}

@media screen and (min-width: 1100px) {

  .container {
    margin: 0 auto;
    padding: 0 4px;
    width: 1016px;
  }
}

@media screen and (max-width: 500px) {

  .container {
    margin: 2rem;
  }

  .title {
    font-size: 3rem;
  }
}
