/* @import './css/reset.css'; */
@import './css/humo.css';
@import './css/vars.css';
@import './css/navigation.css';
@import './css/product.css';
@import './css/detail.css';

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

/* stylelint-disable*/
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* stylelint-enable*/

body {
  font-family: news-gothic-std, sans-serif;
  font-size: 1.6rem;
  /* font-family: var(--font); */
  height: 100%;

}

.hidden {
  display: none;
}

.title {
  margin-top: 6rem;
}

.btn {
  border-radius: 2px;
}

.bold {
  font-weight: 700;
}

a:hover {
  border: none;
}
